version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3-stretch-node
    executor: ruby/default
    steps:
      - checkout
              
      - run: 
          name: greeting
          command: echo hello world
      
      - run:
          name: build dependency
          command: bundle install
          
      - run:
          name: build the jekyll site
          command: build exec jekyll build
          
      - run:
          name: Which bundler?
          command: bundle -v
          
      - ruby/bundle-install
