# Orb 'circleci/welcome-orb@0.4.1' resolved to 'circleci/welcome-orb@0.4.1'
version: 2
jobs:
  welcome/run:
    docker:
    - image: circleci/ruby:2.4.1-node-browsers
    steps:
    - checkout
    
    - run:
      name: greeting
      command: echo Hello world!
      
    - run:
      name print the current tyme
      command: date
